<div class="row">
  <div class="col m-1">
    <!-- This is the options for the item types -->
    <div class="card-header">
      <div class="d-flex">
        <button (click)="getPizzas()" class="btn btn-lg">PIZZA</button>
        <button (click)="getSides()" class="btn btn-lg">SIDES</button>
        <button (click)="getDrinks()" class="btn btn-lg">DRINKS</button>
      </div>
    </div>

    <!-- This is the list of items, maybe refactor it into its own component later -->
    <div class="row justify-content-center" id="item-list">
      <div class="col m-5" *ngFor="let item of items">
        <app-item [foodItem]="item"></app-item>
      </div>
    </div>
  </div>
  <!-- This is the list of items in an order, maybe refactor it into its own component later -->
  <div class="col ml-5 mr-5 card p-0">
    <app-my-order></app-my-order>
  </div>
</div>
