/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

#menu {
  height: 80vh;

  overflow: hidden;
  overflow-y: scroll;
  padding: 0;
}

#my-order {
  padding: 0;
}

#order-total {
  position: absolute;
  bottom: 10px;
  width: 100%;
}
