/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

#menu {
  height: 75vh;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0;
}

#my-order {
  overflow: hidden;
  overflow-y: scroll;
  padding: 0;
}

#order-total {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#order-list {
  overflow: hidden;
  overflow-y: scroll;
}
